<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Carmen Mendizabal Roche y Laura Sepulveda Lopez con  <a href="https://github.com/carmenmendi/quiz_2017">GitHub</a> .
</p>

<img src="/images/carmen.JPG" height="200px"/>
<img src="/images/laura.JPG" height="200px"/>
